<div class='sorting'>
  <button type='button' {{on 'click' this.addQuery}}>
    {{#if this.sortAsc}}
      Sort Descending
    {{else}}
      Sort Ascending
    {{/if}}
  </button>
</div>
<ul class='list'>
  {{#each this.sortedQuotes as |quote|}}
    <Quotes::Item
      @id={{quote.id}}
      @author={{quote.author}}
      @text={{quote.text}}
    />
  {{/each}}
</ul>