<section class='comments' {{did-insert this.fetchComments}}>
  <h2>User Comments</h2>
  {{#if this.isAddingComment}}
    <Comments::Form @onHideForm={{this.hideForm}} @quoteId={{@quoteId}} />
  {{else}}
    <button
      class='btn'
      {{on 'click' this.startAddCommentHandler}}
      type='button'
    >
      Add a Comment
    </button>
  {{/if}}

  {{#if this.showLoader}}
    <div class='centered'>
      <LoadingSpinner />
    </div>
  {{else if this.showCommentsList}}
    <Comments::List @comments={{this.comments}} />
  {{/if}}
</section>