{{#if this.error}}
  <div class='centered'>
    <h1>{{this.error}}</h1>
  </div>
{{else if this.showLoader}}
  <div class='centered'>
    <LoadingSpinner />
  </div>
{{else if this.quote}}
  <Quotes::HighlightedQuote
    @text={{this.quote.text}}
    @author={{this.quote.author}}
  />
  {{#unless this.showComments}}
    <div class='centered'>
      <LinkTo class='btn--flat' @route='quote.comments' @model={{@model}}>
        Load comments
      </LinkTo>
    </div>
  {{/unless}}
  {{#if this.showComments}}
    <div class='centered'>
      <LinkTo class='btn--flat' @route='quote' @model={{@model}}>
        Hide comments
      </LinkTo>
    </div>
    <Comments @quoteId={{@model}} />
  {{/if}}
{{else}}
  <div class='noquotes'>
    <p>Quote not found</p>
    <LinkTo class='btn' @route='quotes'>
      Go back
    </LinkTo>
  </div>
{{/if}}